# Backend
DB_HOST=localhost
DB_PORT=5432
DB_USER=janilly
DB_PASS=janilly_secret
DB_NAME=janilly_db

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=janilly-secret-key-change-in-production

PORT=3001

# Gateway de Pagamento
PAYMENT_GATEWAY_URL=https://api.mercadopago.com/v1
PAYMENT_GATEWAY_TOKEN=your-token-here

# Frontend
FRONTEND_URL=http://localhost:3000
